<a href="https://colab.research.google.com/github/guo8orou/AItech_pre/blob/main/%EC%BD%94%ED%85%8C1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 교재 Part4. A 빠른 정리

가능한 기초 내용을 여럿 포함한 압축적 코드를 사용

#수 자료형

In [ ]:
#e를 소수점 옮김 기호로 생각할 수 있다.
print(1e9)
print(25e-4)

1000000000.0
0.0025

In [ ]:
#컴퓨터가 2진수를 사용하기에 실수의 연산에서 미세한 오차가 발생한다
print(0.3+0.6==0.9)
print(0.3+0.6)

False
0.8999999999999999

In [ ]:
round(0.393,1)

0.4

In [ ]:
print(3/5) #나누기
print(3//5) #몫
print(3%5) #나머지
print(3**5) #거듭제곱

0.6
0
3
243

In [ ]:
#반복된 원소의 리스트 빠른 생성
#리스트 곱셈: 하나의 리스트로 통합
a=[0,1]
a*10

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
#인덱스로 접근해 값 수정
a[-2:-1]=7,6
#뒤에서 두번째 값 하나를 다음 값들로 대체
a

[7, 6, 1]

In [ ]:
#뒤에서 두번째부터 모든 값을 다음 값들로 대체
a=[0,0]
a[-2:]=1,2
a

[1, 2]

In [ ]:
#a[-2,-1] 오류 (튜플식 인덱싱 불가)



---

#리스트

In [ ]:
#홀수의 나머지가 1(True)임을 이용한 리스트 초기화
[i**2 for i in range(10) if i%2]

[1, 9, 25, 49, 81]

In [ ]:
#n차원 리스트 초기화
m,n=2,3
[[1,2]*m for _ in range(n) ]
# _도 i처럼 사용됨 (재사용이 없어 굳이 문자 사용x)

[[1, 2, 1, 2], [1, 2, 1, 2], [1, 2, 1, 2]]

In [ ]:
#동일 객체 레퍼런스 인식의 위험성
arr=[[0]*2]*3 #[0,0]의 동일 객체를 *3
print(arr)
print(arr[0][0])
arr[0][0]=2
print(arr)

#arr[0][0]은 0(단일값)이면서 변경은 일괄임

[[0, 0], [0, 0], [0, 0]]
0
[[2, 0], [2, 0], [2, 0]]

In [ ]:
# for를 이용해 [0,0]가 개별로 적재된 리스트
arr=[[0]*2 for _ in range(3)]
print(arr)
arr[0][0]=2
print(arr)

[[0, 0], [0, 0], [0, 0]]
[[2, 0], [0, 0], [0, 0]]

아래의 메서드(list.메서드)는 실행 시 list를 직접 변형

-> 변수 재할당 안해도됨(장점), 실행 취소가 어려움(단점)

a.sort()는 a 정렬 저장, sorted()는 단순 출력

In [ ]:
#리스트 삽입과 삭제
a=[3,4]
a.append(2); print(a)
a.insert(1,5); print(a) #기존 1번 원소를 뒤로 밀고 삽입
a.remove(2); print(a) #특정 값 하나만 삭제. 전부 삭제하려면 리스트 초기화

[3, 4, 2]
[3, 5, 4, 2]
[2, 3, 4, 5]
[5, 4, 3, 2]

.append: 시간 복잡도 O(1) - 인덱스 관여 없이 단순 추가

.remove, .insert: O(N), 동작 수행 후 리스트 원소 위치를 조정

In [ ]:
#리스트 정렬, 뒤집기, 빈도
a=[2,4,2,3]
a.sort(); print(a) #sorted(a)
a.sort(reverse=True); print(a) #sorted(a,reverse=True)
a.reverse(); print(a) #역순정렬이 아니라 순서 뒤집기!
print(a.count(2)) #특정 값의 빈도

[2, 2, 3, 4]
[4, 3, 2, 2]
[2, 2, 3, 4]
2

# 튜플

☆튜플: 리스트와 거의 비슷하지만 묶음 기호 (), 값 변경 불가


-리스트에 비해 상대적으로 공간 효율적 / 원소 성질이 서로 다를 때 주로 사용

-다익스트라 최단경로 알고리즘에서 (비용, 노드번호) 형태로도 사용

In [ ]:
a=(1,2,3)
#a[1]=1 item assginment 불가 에러

#사전

파이썬 사전: 내부 해시 테이블 이용 -> 검색/수정 처리시간 효율 O(1)

리스트는 사용될 최대 원소 이하의 모든 수에 대해 선택 여부를 저장하므로 큰 범위 내 모든 수가 사용되지 않을 경우 사전이 유리

In [ ]:
a=dict({1:2, 3:4})
print(1 in a) # 사전에서 in 은 key의 존재 여부
print(2 in a) # value의 존재 여부 x

True
False

In [ ]:
#아래 사전 요소를 list처럼 사용 가능
print(a.keys())
print(a.values())
print(a.items())

dict_keys([1, 3])
dict_values([2, 4])
dict_items([(1, 2), (3, 4)])

#집합

사전과 집합은 순서가 없어 인덱싱 불가
집합은 고유값만 원소로 남긴다

In [ ]:
#집합답게 집합 연산 가능
a={1,2,3}; b={2,3,4}
print(a|b) #합집합
print(a&b) #교집합
print(a-b) #차집합

{1, 2, 3, 4}
{2, 3}
{1}

In [ ]:
#집합의 추가, 제거
a.add(4); print(a)
a.update({2,5});print(a) #여러개 추가. [2,5]도 가능
a.remove(1);print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

.add(), .remove() 모두 시간 복잡도가 O(1)이라고 함


고유값만 취급, 정렬 상태 유지와 관련 있을듯

#문자

In [ ]:
#따옴표 출력
print('Yes, "python\"!') # 다른 따옴표
print('Yes, \'\'python\'!') #백슬래시

Yes, "python"!
Yes, ''python'!



---

#조건문

In [ ]:
a=5
if a>7: print('>7') #if 내 if도 가능
elif a>5: print('>5') #결과문 줄바꿈 안해도 됨
else:
  print('<=5')

<=5

비교연산자: ==, !=, >, >= 등

논리연산자:and, or, not

+) in, not in : 리스트, 문자열 등

In [ ]:
# if, else 한줄 조건문
"<=5" if a<=5 else ">5"

'<=5'

In [ ]:
# [원소형태 for ~ if ~]
[i for i in range(5) if i not in range(3) ]

[3, 4]

#반복문

In [ ]:
#while문으로 특정 조건시까지 1씩 더하기
x=0
while x<=5:
  x+=1
x

6

In [ ]:
#for문으로 0~5 합
x=0
for i in range(5): x+=i
x

10

In [ ]:
#DP에 많이 사용되는 중첩 반복문
#구구단 2~3단
for i in range(2,4):
  for j in range(2,10):
    print(i, '*', j, '=',i*j)
  print('\n') #첫 반복문에만 적용

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27



---

# 함수

In [1]:
def add(a,b): a+b
add(1,2)
#return을 포함해야 결과 출력

In [2]:
def add(a,b): print(a+b)
add(1,2)
#대신 print()가 있으면 결과 출력함

3

lambda

In [12]:
#def 대신 labda
#함수 정의 lambda문을 ()로 묶음
(lambda x,y: x+y)(1,2)

3

In [8]:
#참조되지 않은 전역 변수 사용
a=0
def plus(): global a; a+=1

In [9]:
#plus() 시행시마다 a가 1씩 증가
plus()
plus();a

2

#입출력

In [13]:
#입력된 정수 list만드는 전형적 문장
#map(()없이 함수명, 적용 대상 포함한 list)
data=list(map(int, input().split()))

18 24 95 28

In [16]:
# 1 2 3 4 입력
input().split() #['1', '2', '3', '4']

1 2 3 4

['1', '2', '3', '4']

In [30]:
#map의 결과는 출력 형태 지정 필요
map(int, input().split()) #1 2 3 입력, <map at 0x7f5365824d90>

1 2 3 4

In [29]:
#입력 수가 지정된 경우 빠른 변수 할당:
a,b,c= map(int, input().split()) #1 2 3 입력
print(a, b, c) #1 2 3

1 2 3

입력- map & pandas

In [19]:
#Series나 DataFrame 형태로도 map 사용
import pandas as pd
pd.Series(map(int, input().split()))
pd.DataFrame(map(int, input().split()))

1 2 3 4
1 2 3 4

   0
0  1
1  2
2  3
3  4

입력 개수가 많은 경우 input()은 동작이 느리다

sys.stdin.readline()이 유리

In [39]:
#colab이라서인지 작동 x
import sys
data=sys.stdin.readline().rstrip()

In [46]:
print('코딩 '+str(3)); print('코딩', 3) #동일
print('코딩 '*3) # print('코딩'+3)은 오류

코딩 3
코딩 3
코딩 코딩 코딩



---

# 주요 라이브러리

파이썬 코딩테스트는 보통 파이썬 표준 라이브러리를 이용할 수 있다

https://docs.python.org/3/library/index.html

#내장 함수

이미 아는 것: input(), print(), *sum(), max() sorted(), 

*iterable 객체(반복 가능. 리스트, 사전, 튜플)에 적용

In [51]:
#문자열 수식의 계산 결과 반환 (^ 등 사용 못하는 기호 있음)
eval("5*5+2")

27

In [53]:
#튜플 원소 리스트를 lambda로 key 지정해 정렬
x=[('A',7), ('B',5), ('C',3)]
sorted(x, key=lambda x: x[1]) #i=0~2에 대해 각 x[i][1]이 key가 되는 구조임

[('C', 3), ('B', 5), ('A', 7)]

순열과 조합

In [60]:
from itertools import permutations as pm #순열
from itertools import combinations as cm #조합
from itertools import product #중복순열
from itertools import combinations_with_replacement as cmr #중복조합

In [54]:
data=[1,2,3]

pm(data,3) #map처럼 형태 지정 필요

In [58]:
#세 값 중 두 값 순열: 3P2(=6)개 경우
list(pm(data,2))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [57]:
#세 값 중 두 값 조합: 3C2(=3)개 경우
list(cm(data,2))

[(1, 2), (1, 3), (2, 3)]

In [62]:
#세 값 중 두 값 중복순열: 3*3개 경우
list(product(data,repeat=2)) #얘만 repeat= 안쓰면 오류

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [63]:
#세 값 중 두 값 중복순열: 3C2+3개 경우
list(cmr(data,2))

[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

#heapq

우선순위 큐 기능 구현시 빠르게 동작함

list 수동 정렬 시, heap에 원소 전부를 넣고 빼더라도 시간 복잡도는 O(NlogN)

In [82]:
import heapq as hq

def h_sort(iter):
  h=[]; hlist=[]

  for value in iter:
    #heap에 추가
    hq.heappush(h,value)  

    print(h) #불필요 (과정 확인용)   

  for _ in range(len(h)):
    #heap에서 추출
    hlist.append(hq.heappop(h)) 
    
    print(_, h) #불필요 (과정 확인용) 

  return hlist

그런데 heapq 작동 과정을 print()로 뜯어보면

항상 정렬되어 있는 것은 아님 - why? how?

In [83]:
#heappush(힙, 값)와 heappop(힙)의 과정
h_sort([5,4,2,3,1])

'''heappop()은 확실히 작은값부터 빠져나가는데
heappush(), heappop() 과정 둘다 heap의 정렬 상태가 동적임'''

[5]
[4, 5]
[2, 5, 4]
[2, 3, 4, 5]
[1, 2, 4, 5, 3]
0 [2, 3, 4, 5]
1 [3, 5, 4]
2 [4, 5]
3 [5]
4 []

[1, 2, 3, 4, 5]

In [84]:
#참고로 Python의 heap은 min heap (오름차순)
#따라서 역순정렬 시 모든 값 음수 전환 (기존 부호 상관 없음)
def h_rsort(iter):
  h=[]; hlist=[]

  for value in iter:
    hq.heappush(h,-value)    

  for _ in range(len(h)):
    hlist.append(-hq.heappop(h)) 

  return hlist

In [85]:
h_rsort([4,1,5,2])

[5, 4, 2, 1]

# bisect

정렬된 배열에서 특정 원소 찾을 때 효과적

bisect_left(), bisect_right()의 시간복잡도: O(logN)

In [86]:
from bisect import bisect_left, bisect_right

a=[1,2,2,4]

0

In [92]:
#list a를 왼쪽부터 특정 값 탐색
#발견된 값을 오른쪽으로 밀어낸 후의 index 반환
print(bisect_left(a,2))
print([1,'index',2,2,4])

1
[1, '여기', 2, 2, 4]

In [91]:
#list a를 으론쪽부터 특정 값 탐색
#발견된 값을 왼쪽으로 밀어낸 후의 index 반환
print(bisect_right(a,2))
print([1,2,2,'index',4])

3
[1, 2, 2, '여기', 4]

정렬된 리스트를 전제한다면 bisect_left/right로 특정 값보다 크거나 작은 값들을 쉽게 뽑아낼 수 있음

# collections

보통 Python에서는 deque를 이용해 큐 구현

리스트는 뒤부터 탐색: 가장 앞 원소 추가(append)/제거(pop) 시간은 O(N)

큐는 모든 경우 O(1) / 대신 인덱스 없어서 인덱싱, 슬라이싱 사용 불가

In [94]:
from collections import deque
a=deque([2,3,4])

a.appendleft(1) #앞에 붙임
a.append(5) #뒤에 붙임
print(a)

a.popleft() #앞값 제거
a.pop() #뒤값 제거
print(a)

deque([1, 2, 3, 4, 5])
deque([2, 3, 4])

In [101]:
#전체 원소 빈도 세기
#특정 원소 빈도: [1,2,3].count(3)
from collections import Counter
c=Counter([1,2,3,2,3,2])

#사전식 활용이 용이한 구조
c

Counter({1: 1, 2: 3, 3: 2})

In [102]:
import math
math.factorial(4)

24

In [107]:
#루트값 계산 방법 두 가지
math.sqrt(2)==2**.5

True

In [108]:
#최대 공약수
math.gcd(4,12)

4

In [110]:
#pi, e 값
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045